<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cofco.cpmp.dao.BidProjOnExptGrdDtlLowMapper">
    <resultMap id="BaseResultMap" type="cn.cofco.cpmp.entity.BidProjOnExptGrdDtlLow">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="GRD_ID" jdbcType="DECIMAL" property="grdId"/>
        <result column="BID_APP_ID" jdbcType="DECIMAL" property="bidAppId"/>
        <result column="MAT_ID" jdbcType="DECIMAL" property="matId"/>
        <result column="SPLR_ID" jdbcType="DECIMAL" property="splrId"/>
        <result column="PROJ_ID" jdbcType="DECIMAL" property="projId"/>
        <result column="MAT_COD" jdbcType="VARCHAR" property="matCod"/>
        <result column="MAT_NAM" jdbcType="VARCHAR" property="matNam"/>
        <result column="MAT_UNT" jdbcType="VARCHAR" property="matUnt"/>
        <result column="TECH_SERV" jdbcType="VARCHAR" property="techServ"/>
        <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
        <result column="REQ_ID" jdbcType="DECIMAL" property="reqId"/>
        <result column="DLV_DTE" jdbcType="TIMESTAMP" property="dlvDte"/>
        <result column="DLV_ADR" jdbcType="VARCHAR" property="dlvAdr"/>
        <result column="PCHS_NUM" jdbcType="VARCHAR" property="pchsNum"/>
        <result column="SPLR_NAM" jdbcType="VARCHAR" property="splrNam"/>
        <result column="CURR_TYP" jdbcType="CHAR" property="currTyp"/>
        <result column="EX_RAT" jdbcType="VARCHAR" property="exRat"/>
        <result column="UNT_PRI" jdbcType="DECIMAL" property="untPri"/>
        <result column="SPL_NUM" jdbcType="VARCHAR" property="splNum"/>
        <result column="TTL_PRI" jdbcType="DECIMAL" property="ttlPri"/>
        <result column="TEND_DLV_DTE" jdbcType="TIMESTAMP" property="tendDlvDte"/>
        <result column="MAT_BND" jdbcType="VARCHAR" property="matBnd"/>
        <result column="GRD_ORD" jdbcType="DECIMAL" property="grdOrd"/>
        <result column="IS_RCMD" jdbcType="CHAR" property="isRcmd"/>
        <result column="GRD_RSN" jdbcType="VARCHAR" property="grdRsn"/>
        <result column="EFF_FLG" jdbcType="CHAR" property="effFlg"/>
        <result column="CRT_USR" jdbcType="VARCHAR" property="crtUsr"/>
        <result column="CRT_TIM" jdbcType="TIMESTAMP" property="crtTim"/>
        <result column="MOD_USR" jdbcType="VARCHAR" property="modUsr"/>
        <result column="MOD_TIM" jdbcType="TIMESTAMP" property="modTim"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, GRD_ID, BID_APP_ID, MAT_ID, SPLR_ID, PROJ_ID, MAT_COD, MAT_NAM, MAT_UNT, TECH_SERV, 
    MEMO, REQ_ID, DLV_DTE, DLV_ADR, PCHS_NUM, SPLR_NAM, CURR_TYP, EX_RAT, UNT_PRI, SPL_NUM, 
    TTL_PRI, TEND_DLV_DTE, MAT_BND, GRD_ORD, IS_RCMD, GRD_RSN, EFF_FLG, CRT_USR, CRT_TIM, 
    MOD_USR, MOD_TIM
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_BID_PROJ_ON_EXPT_GRD_DTL_LOW
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_BID_PROJ_ON_EXPT_GRD_DTL_LOW
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="cn.cofco.cpmp.entity.BidProjOnExptGrdDtlLow">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            select EXPT_GRD_DTL_LOW_SEQ.NEXTVAL from dual
        </selectKey>
        insert into T_BID_PROJ_ON_EXPT_GRD_DTL_LOW (ID, GRD_ID, BID_APP_ID,
        MAT_ID, SPLR_ID, PROJ_ID,
        MAT_COD, MAT_NAM, MAT_UNT,
        TECH_SERV, MEMO, REQ_ID,
        DLV_DTE, DLV_ADR, PCHS_NUM,
        SPLR_NAM, CURR_TYP, EX_RAT,
        UNT_PRI, SPL_NUM, TTL_PRI,
        TEND_DLV_DTE, MAT_BND, GRD_ORD,
        IS_RCMD, GRD_RSN, EFF_FLG, CRT_USR,
        CRT_TIM, MOD_USR, MOD_TIM
        )
        values (#{id,jdbcType=DECIMAL}, #{grdId,jdbcType=DECIMAL}, #{bidAppId,jdbcType=DECIMAL},
        #{matId,jdbcType=DECIMAL}, #{splrId,jdbcType=DECIMAL}, #{projId,jdbcType=DECIMAL},
        #{matCod,jdbcType=VARCHAR}, #{matNam,jdbcType=VARCHAR}, #{matUnt,jdbcType=VARCHAR},
        #{techServ,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{reqId,jdbcType=DECIMAL},
        #{dlvDte,jdbcType=TIMESTAMP}, #{dlvAdr,jdbcType=VARCHAR}, #{pchsNum,jdbcType=VARCHAR},
        #{splrNam,jdbcType=VARCHAR}, #{currTyp,jdbcType=CHAR}, #{exRat,jdbcType=VARCHAR},
        #{untPri,jdbcType=DECIMAL}, #{splNum,jdbcType=VARCHAR}, #{ttlPri,jdbcType=DECIMAL},
        #{tendDlvDte,jdbcType=TIMESTAMP}, #{matBnd,jdbcType=VARCHAR}, #{grdOrd,jdbcType=DECIMAL},
        #{isRcmd,jdbcType=CHAR}, #{grdRsn,jdbcType=VARCHAR}, #{effFlg,jdbcType=CHAR}, #{crtUsr,jdbcType=VARCHAR},
        #{crtTim,jdbcType=TIMESTAMP}, #{modUsr,jdbcType=VARCHAR}, #{modTim,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.cofco.cpmp.entity.BidProjOnExptGrdDtlLow">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            select EXPT_GRD_DTL_LOW_SEQ.NEXTVAL from dual
        </selectKey>
        insert into T_BID_PROJ_ON_EXPT_GRD_DTL_LOW
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="grdId != null">
                GRD_ID,
            </if>
            <if test="bidAppId != null">
                BID_APP_ID,
            </if>
            <if test="matId != null">
                MAT_ID,
            </if>
            <if test="splrId != null">
                SPLR_ID,
            </if>
            <if test="projId != null">
                PROJ_ID,
            </if>
            <if test="matCod != null">
                MAT_COD,
            </if>
            <if test="matNam != null">
                MAT_NAM,
            </if>
            <if test="matUnt != null">
                MAT_UNT,
            </if>
            <if test="techServ != null">
                TECH_SERV,
            </if>
            <if test="memo != null">
                MEMO,
            </if>
            <if test="reqId != null">
                REQ_ID,
            </if>
            <if test="dlvDte != null">
                DLV_DTE,
            </if>
            <if test="dlvAdr != null">
                DLV_ADR,
            </if>
            <if test="pchsNum != null">
                PCHS_NUM,
            </if>
            <if test="splrNam != null">
                SPLR_NAM,
            </if>
            <if test="currTyp != null">
                CURR_TYP,
            </if>
            <if test="exRat != null">
                EX_RAT,
            </if>
            <if test="untPri != null">
                UNT_PRI,
            </if>
            <if test="splNum != null">
                SPL_NUM,
            </if>
            <if test="ttlPri != null">
                TTL_PRI,
            </if>
            <if test="tendDlvDte != null">
                TEND_DLV_DTE,
            </if>
            <if test="matBnd != null">
                MAT_BND,
            </if>
            <if test="grdOrd != null">
                GRD_ORD,
            </if>
            <if test="isRcmd != null">
                IS_RCMD,
            </if>
            <if test="grdRsn != null">
                GRD_RSN,
            </if>
            <if test="effFlg != null">
                EFF_FLG,
            </if>
            <if test="crtUsr != null">
                CRT_USR,
            </if>
            <if test="crtTim != null">
                CRT_TIM,
            </if>
            <if test="modUsr != null">
                MOD_USR,
            </if>
            <if test="modTim != null">
                MOD_TIM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=DECIMAL},
            <if test="grdId != null">
                #{grdId,jdbcType=DECIMAL},
            </if>
            <if test="bidAppId != null">
                #{bidAppId,jdbcType=DECIMAL},
            </if>
            <if test="matId != null">
                #{matId,jdbcType=DECIMAL},
            </if>
            <if test="splrId != null">
                #{splrId,jdbcType=DECIMAL},
            </if>
            <if test="projId != null">
                #{projId,jdbcType=DECIMAL},
            </if>
            <if test="matCod != null">
                #{matCod,jdbcType=VARCHAR},
            </if>
            <if test="matNam != null">
                #{matNam,jdbcType=VARCHAR},
            </if>
            <if test="matUnt != null">
                #{matUnt,jdbcType=VARCHAR},
            </if>
            <if test="techServ != null">
                #{techServ,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="reqId != null">
                #{reqId,jdbcType=DECIMAL},
            </if>
            <if test="dlvDte != null">
                #{dlvDte,jdbcType=TIMESTAMP},
            </if>
            <if test="dlvAdr != null">
                #{dlvAdr,jdbcType=VARCHAR},
            </if>
            <if test="pchsNum != null">
                #{pchsNum,jdbcType=VARCHAR},
            </if>
            <if test="splrNam != null">
                #{splrNam,jdbcType=VARCHAR},
            </if>
            <if test="currTyp != null">
                #{currTyp,jdbcType=CHAR},
            </if>
            <if test="exRat != null">
                #{exRat,jdbcType=VARCHAR},
            </if>
            <if test="untPri != null">
                #{untPri,jdbcType=DECIMAL},
            </if>
            <if test="splNum != null">
                #{splNum,jdbcType=VARCHAR},
            </if>
            <if test="ttlPri != null">
                #{ttlPri,jdbcType=DECIMAL},
            </if>
            <if test="tendDlvDte != null">
                #{tendDlvDte,jdbcType=TIMESTAMP},
            </if>
            <if test="matBnd != null">
                #{matBnd,jdbcType=VARCHAR},
            </if>
            <if test="grdOrd != null">
                #{grdOrd,jdbcType=DECIMAL},
            </if>
            <if test="isRcmd != null">
                #{isRcmd,jdbcType=CHAR},
            </if>
            <if test="grdRsn != null">
                #{grdRsn,jdbcType=VARCHAR},
            </if>
            <if test="effFlg != null">
                #{effFlg,jdbcType=CHAR},
            </if>
            <if test="crtUsr != null">
                #{crtUsr,jdbcType=VARCHAR},
            </if>
            <if test="crtTim != null">
                #{crtTim,jdbcType=TIMESTAMP},
            </if>
            <if test="modUsr != null">
                #{modUsr,jdbcType=VARCHAR},
            </if>
            <if test="modTim != null">
                #{modTim,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.cofco.cpmp.entity.BidProjOnExptGrdDtlLow">
        update T_BID_PROJ_ON_EXPT_GRD_DTL_LOW
        <set>
            <if test="grdId != null">
                GRD_ID = #{grdId,jdbcType=DECIMAL},
            </if>
            <if test="bidAppId != null">
                BID_APP_ID = #{bidAppId,jdbcType=DECIMAL},
            </if>
            <if test="matId != null">
                MAT_ID = #{matId,jdbcType=DECIMAL},
            </if>
            <if test="splrId != null">
                SPLR_ID = #{splrId,jdbcType=DECIMAL},
            </if>
            <if test="projId != null">
                PROJ_ID = #{projId,jdbcType=DECIMAL},
            </if>
            <if test="matCod != null">
                MAT_COD = #{matCod,jdbcType=VARCHAR},
            </if>
            <if test="matNam != null">
                MAT_NAM = #{matNam,jdbcType=VARCHAR},
            </if>
            <if test="matUnt != null">
                MAT_UNT = #{matUnt,jdbcType=VARCHAR},
            </if>
            <if test="techServ != null">
                TECH_SERV = #{techServ,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                MEMO = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="reqId != null">
                REQ_ID = #{reqId,jdbcType=DECIMAL},
            </if>
            <if test="dlvDte != null">
                DLV_DTE = #{dlvDte,jdbcType=TIMESTAMP},
            </if>
            <if test="dlvAdr != null">
                DLV_ADR = #{dlvAdr,jdbcType=VARCHAR},
            </if>
            <if test="pchsNum != null">
                PCHS_NUM = #{pchsNum,jdbcType=VARCHAR},
            </if>
            <if test="splrNam != null">
                SPLR_NAM = #{splrNam,jdbcType=VARCHAR},
            </if>
            <if test="currTyp != null">
                CURR_TYP = #{currTyp,jdbcType=CHAR},
            </if>
            <if test="exRat != null">
                EX_RAT = #{exRat,jdbcType=VARCHAR},
            </if>
            <if test="untPri != null">
                UNT_PRI = #{untPri,jdbcType=DECIMAL},
            </if>
            <if test="splNum != null">
                SPL_NUM = #{splNum,jdbcType=VARCHAR},
            </if>
            <if test="ttlPri != null">
                TTL_PRI = #{ttlPri,jdbcType=DECIMAL},
            </if>
            <if test="tendDlvDte != null">
                TEND_DLV_DTE = #{tendDlvDte,jdbcType=TIMESTAMP},
            </if>
            <if test="matBnd != null">
                MAT_BND = #{matBnd,jdbcType=VARCHAR},
            </if>
            <if test="grdOrd != null">
                GRD_ORD = #{grdOrd,jdbcType=DECIMAL},
            </if>
            <if test="isRcmd != null">
                IS_RCMD = #{isRcmd,jdbcType=CHAR},
            </if>
            <if test="grdRsn != null">
                GRD_RSN = #{grdRsn,jdbcType=VARCHAR},
            </if>
            <if test="effFlg != null">
                EFF_FLG = #{effFlg,jdbcType=CHAR},
            </if>
            <if test="crtUsr != null">
                CRT_USR = #{crtUsr,jdbcType=VARCHAR},
            </if>
            <if test="crtTim != null">
                CRT_TIM = #{crtTim,jdbcType=TIMESTAMP},
            </if>
            <if test="modUsr != null">
                MOD_USR = #{modUsr,jdbcType=VARCHAR},
            </if>
            <if test="modTim != null">
                MOD_TIM = #{modTim,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.cofco.cpmp.entity.BidProjOnExptGrdDtlLow">
    update T_BID_PROJ_ON_EXPT_GRD_DTL_LOW
    set GRD_ID = #{grdId,jdbcType=DECIMAL},
      BID_APP_ID = #{bidAppId,jdbcType=DECIMAL},
      MAT_ID = #{matId,jdbcType=DECIMAL},
      SPLR_ID = #{splrId,jdbcType=DECIMAL},
      PROJ_ID = #{projId,jdbcType=DECIMAL},
      MAT_COD = #{matCod,jdbcType=VARCHAR},
      MAT_NAM = #{matNam,jdbcType=VARCHAR},
      MAT_UNT = #{matUnt,jdbcType=VARCHAR},
      TECH_SERV = #{techServ,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      REQ_ID = #{reqId,jdbcType=DECIMAL},
      DLV_DTE = #{dlvDte,jdbcType=TIMESTAMP},
      DLV_ADR = #{dlvAdr,jdbcType=VARCHAR},
      PCHS_NUM = #{pchsNum,jdbcType=VARCHAR},
      SPLR_NAM = #{splrNam,jdbcType=VARCHAR},
      CURR_TYP = #{currTyp,jdbcType=CHAR},
      EX_RAT = #{exRat,jdbcType=VARCHAR},
      UNT_PRI = #{untPri,jdbcType=DECIMAL},
      SPL_NUM = #{splNum,jdbcType=VARCHAR},
      TTL_PRI = #{ttlPri,jdbcType=DECIMAL},
      TEND_DLV_DTE = #{tendDlvDte,jdbcType=TIMESTAMP},
      MAT_BND = #{matBnd,jdbcType=VARCHAR},
      GRD_ORD = #{grdOrd,jdbcType=DECIMAL},
      IS_RCMD = #{isRcmd,jdbcType=CHAR},
      GRD_RSN = #{grdRsn,jdbcType=VARCHAR},
      EFF_FLG = #{effFlg,jdbcType=CHAR},
      CRT_USR = #{crtUsr,jdbcType=VARCHAR},
      CRT_TIM = #{crtTim,jdbcType=TIMESTAMP},
      MOD_USR = #{modUsr,jdbcType=VARCHAR},
      MOD_TIM = #{modTim,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>


    <select id="countByMap" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        COUNT (1)
        from T_BID_PROJ_ON_EXPT_GRD_DTL_LOW
        WHERE 1 = 1
        <if test="grdId != null">
            AND GRD_ID = #{grdId,jdbcType=DECIMAL}
        </if>
        <if test="bidAppId != null">
            AND BID_APP_ID = #{bidAppId,jdbcType=DECIMAL}
        </if>
        <if test="matId != null">
            AND MAT_ID = #{matId,jdbcType=DECIMAL}
        </if>
        <if test="splrId != null">
            AND SPLR_ID = #{splrId,jdbcType=DECIMAL}
        </if>
        <if test="projId != null">
            AND PROJ_ID = #{projId,jdbcType=DECIMAL}
        </if>
        <if test="matCod != null">
            AND MAT_COD = #{matCod,jdbcType=VARCHAR}
        </if>
        <if test="matNam != null">
            AND MAT_NAM = #{matNam,jdbcType=VARCHAR}
        </if>
        <if test="matUnt != null">
            AND MAT_UNT = #{matUnt,jdbcType=VARCHAR}
        </if>
        <if test="techServ != null">
            AND TECH_SERV = #{techServ,jdbcType=VARCHAR}
        </if>
        <if test="memo != null">
            AND MEMO = #{memo,jdbcType=VARCHAR}
        </if>
        <if test="reqId != null">
            AND REQ_ID = #{reqId,jdbcType=DECIMAL}
        </if>
        <if test="dlvDte != null">
            AND DLV_DTE = #{dlvDte,jdbcType=TIMESTAMP}
        </if>
        <if test="dlvAdr != null">
            AND DLV_ADR = #{dlvAdr,jdbcType=VARCHAR}
        </if>
        <if test="pchsNum != null">
            AND PCHS_NUM = #{pchsNum,jdbcType=VARCHAR}
        </if>
        <if test="splrNam != null">
            AND SPLR_NAM = #{splrNam,jdbcType=VARCHAR}
        </if>
        <if test="currTyp != null">
            AND CURR_TYP = #{currTyp,jdbcType=CHAR}
        </if>
        <if test="exRat != null">
            AND EX_RAT = #{exRat,jdbcType=VARCHAR}
        </if>
        <if test="untPri != null">
            AND UNT_PRI = #{untPri,jdbcType=DECIMAL}
        </if>
        <if test="splNum != null">
            AND SPL_NUM = #{splNum,jdbcType=VARCHAR}
        </if>
        <if test="ttlPri != null">
            AND TTL_PRI = #{ttlPri,jdbcType=DECIMAL}
        </if>
        <if test="tendDlvDte != null">
            AND TEND_DLV_DTE = #{tendDlvDte,jdbcType=TIMESTAMP}
        </if>
        <if test="matBnd != null">
            AND MAT_BND = #{matBnd,jdbcType=VARCHAR}
        </if>
        <if test="grdOrd != null">
            AND GRD_ORD = #{grdOrd,jdbcType=DECIMAL}
        </if>
        <if test="isRcmd != null">
            AND IS_RCMD = #{isRcmd,jdbcType=CHAR}
        </if>
        <if test="grdRsn != null">
            AND GRD_RSN = #{grdRsn,jdbcType=VARCHAR}
        </if>
        <if test="effFlg != null">
            AND EFF_FLG = #{effFlg,jdbcType=CHAR}
        </if>
        <if test="crtUsr != null">
            AND CRT_USR = #{crtUsr,jdbcType=VARCHAR}
        </if>
        <if test="crtTim != null">
            AND CRT_TIM = #{crtTim,jdbcType=TIMESTAMP}
        </if>
        <if test="modUsr != null">
            AND MOD_USR = #{modUsr,jdbcType=VARCHAR}
        </if>
        <if test="modTim != null">
            AND MOD_TIM = #{modTim,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM (
        SELECT A.*,ROWNUM RN
        FROM (
        SELECT *
        FROM T_BID_PROJ_ON_EXPT_GRD_DTL_LOW
        WHERE 1 = 1
        <if test="grdId != null">
            AND GRD_ID = #{grdId,jdbcType=DECIMAL}
        </if>
        <if test="bidAppId != null">
            AND BID_APP_ID = #{bidAppId,jdbcType=DECIMAL}
        </if>
        <if test="matId != null">
            AND MAT_ID = #{matId,jdbcType=DECIMAL}
        </if>
        <if test="splrId != null">
            AND SPLR_ID = #{splrId,jdbcType=DECIMAL}
        </if>
        <if test="projId != null">
            AND PROJ_ID = #{projId,jdbcType=DECIMAL}
        </if>
        <if test="matCod != null">
            AND MAT_COD = #{matCod,jdbcType=VARCHAR}
        </if>
        <if test="matNam != null">
            AND MAT_NAM = #{matNam,jdbcType=VARCHAR}
        </if>
        <if test="matUnt != null">
            AND MAT_UNT = #{matUnt,jdbcType=VARCHAR}
        </if>
        <if test="techServ != null">
            AND TECH_SERV = #{techServ,jdbcType=VARCHAR}
        </if>
        <if test="memo != null">
            AND MEMO = #{memo,jdbcType=VARCHAR}
        </if>
        <if test="reqId != null">
            AND REQ_ID = #{reqId,jdbcType=DECIMAL}
        </if>
        <if test="dlvDte != null">
            AND DLV_DTE = #{dlvDte,jdbcType=TIMESTAMP}
        </if>
        <if test="dlvAdr != null">
            AND DLV_ADR = #{dlvAdr,jdbcType=VARCHAR}
        </if>
        <if test="pchsNum != null">
            AND PCHS_NUM = #{pchsNum,jdbcType=VARCHAR}
        </if>
        <if test="splrNam != null">
            AND SPLR_NAM = #{splrNam,jdbcType=VARCHAR}
        </if>
        <if test="currTyp != null">
            AND CURR_TYP = #{currTyp,jdbcType=CHAR}
        </if>
        <if test="exRat != null">
            AND EX_RAT = #{exRat,jdbcType=VARCHAR}
        </if>
        <if test="untPri != null">
            AND UNT_PRI = #{untPri,jdbcType=DECIMAL}
        </if>
        <if test="splNum != null">
            AND SPL_NUM = #{splNum,jdbcType=VARCHAR}
        </if>
        <if test="ttlPri != null">
            AND TTL_PRI = #{ttlPri,jdbcType=DECIMAL}
        </if>
        <if test="tendDlvDte != null">
            AND TEND_DLV_DTE = #{tendDlvDte,jdbcType=TIMESTAMP}
        </if>
        <if test="matBnd != null">
            AND MAT_BND = #{matBnd,jdbcType=VARCHAR}
        </if>
        <if test="grdOrd != null">
            AND GRD_ORD = #{grdOrd,jdbcType=DECIMAL}
        </if>
        <if test="isRcmd != null">
            AND IS_RCMD = #{isRcmd,jdbcType=CHAR}
        </if>
        <if test="grdRsn != null">
            AND GRD_RSN = #{grdRsn,jdbcType=VARCHAR}
        </if>
        <if test="effFlg != null">
            AND EFF_FLG = #{effFlg,jdbcType=CHAR}
        </if>
        <if test="crtUsr != null">
            AND CRT_USR = #{crtUsr,jdbcType=VARCHAR}
        </if>
        <if test="crtTim != null">
            AND CRT_TIM = #{crtTim,jdbcType=TIMESTAMP}
        </if>
        <if test="modUsr != null">
            AND MOD_USR = #{modUsr,jdbcType=VARCHAR}
        </if>
        <if test="modTim != null">
            AND MOD_TIM = #{modTim,jdbcType=TIMESTAMP}
        </if>
        <if test="grdIds != null">
            AND GRD_ID IN
            <foreach close=")" collection="grdIds" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        ) A
        WHERE
        <choose>
            <when test="limit > 0">
                ROWNUM &lt;= #{limit}
            </when>
            <otherwise>
                ROWNUM &lt;= 100000
            </otherwise>
        </choose>
        ) TL
        WHERE RN &gt;=#{start}
    </select>
</mapper>